/media/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
venv/
myenv/
ENV/

# Django
*.sqlite3
db.sqlite3

# VS Code settings (optional)
.vscode/

# Secret files
.env

# OS files
Thumbs.db
.DS_Store
